.spacer{
  padding: 50px 15px 20px 15px;
}

.skillTag li {
  display: inline-block;
  margin: 5px;
  padding: 3px 5px;
  color: #374054;
  background: #e4e4ea;
  list-style: none;
  cursor: default;
  font-size: 0.8em;
}
